*{width: 90%; user-select: none;}

@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

body{
    background: rgb(238,176,176);
    background: linear-gradient(90deg, rgba(238,176,176,1) 10%, rgba(255,229,157,1) 39%, rgba(189,230,241,1) 94%);
    background-size: 120%;
}

.scroll_bar{
    background-color: transparent;
    overflow-y: scroll;
}
.scroll_bar::-webkit-scrollbar{
    display: none;
}

/*NAVBAR*/
nav{
    background-color:rgb(0, 0, 0);
    width: 100%;
    height: 10%;
    padding-top: 10%;
    margin-left: -1%;
    padding: 10px;
    position: fixed;
    top: 0;
    display: inline-flex;
    z-index: 1;
}

.navbar-index{
    font-family: 'Permanent Marker', cursive;
    font-size: 15pt;
    font-weight: bold;
    text-align: center;
    margin: 1% 0 0 2%;
    display: inline-flex;
    color: #fff;
}
.panda{
    width: 55%;
    position: relative;
}

.pandinha{
    width: 100%;
    position: relative;
    margin-left: 82.5%;
}

/*CARDS*/
.cards{
  margin: 15% 10% 0 8.5%;
  max-width: 120%;
  width: 1000%;
  text-align: center;
  display: flex;
  overflow-x: auto;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center, space-between;
}

.card{
  background: #fff;
  display: inline-block;
  margin: 4%;
  max-width: 25%;
  position: relative;
  text-align: left;
  transition: all 0.3s 0s ease-in;
  width: 300px;
  border-radius: 2.5%;
  text-align: justify;
}

.card_image{
    max-width: 90%;
    padding: 10% 10% 2% 10%;
    position: relative;
    border-radius: 5%;
    border-image-width: 500 500;
  }
  
.card-title{
    background: #fff;
    position: relative;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
    padding: 2% 0 0 10%;
}
    
    h2{
      font-size: 20px;
      font-weight: 700;
      letter-spacing: -0.05em;
      margin: 0;
      padding: 0;}
  

  div.card-description {
    padding: 2% 0 0 10%;
    position: relative;
    font-size: 15px;
    word-spacing: 5px;
}

/*BUTTON & LINKS*/
.btn{
    background-color:black;
    border: none;
    color: #ffffff;
    padding: 5px 0.5px;
    font-size: 15px;
    text-align: center;
    display: inline-block;
    margin: 20px 12px;
    width: 30%;
    margin-left: 34.5%;
    overflow: hidden;
}

a{
    color:#fff;
    font-size: 15px;
    font-family: 'fascinate', cursive;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 24px;
    overflow: hidden;
    transition: 0.2s;
    position: relative;
}

a:hover {
    color: rgb(255, 255, 255);
    background: #101010;
    box-shadow: 0 0 10px rgba(238,176,176,1),0 0 40px rgba(255,229,157,1),0 0 80px rgba(189,230,241,1);
    transition-delay: 0.2s;
  }
  
/*INSTAGRAM*/
.link {
    color:rgb(0, 0, 0);
    font-size: 12px;
    text-decoration: none;
    text-decoration: none;
    text-transform: none;
    letter-spacing: none;
    font-weight: normal;
    font-family: arial;
}

.link:hover {
    color: rgb(0, 0, 0);
    text-decoration: underline;
    background: transparent;
}

